{% extends "base.html" %}
{% block title %}Page Analyzer{% endblock %}
{% block content %}
</header>
{% include "bar.html" %}
<div class="container d-flex flex-column justify-content-center align-items-center py-5">
    <form class="col-md-6 mb-4" method="post">
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.url(class_="form-control", placeholder="https://www.example.com") }}
            <div class="input-group-append">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>
    <p class="text-center text-muted mb-0">Check website SEO suitability for free</p>
</div>
{% endblock %}
