{% extends "base.html" %}
{% block content %}
{% include "bar.html" %}
<div class="container">
    <h1 class="h1 my-5">Site: {{ url[1] }}</h1>
    <table class="table table-hover table-bordered table-responsive my-5">
        <tr>
            <td>ID</td>
            <td>{{ url[0] }}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{ url[1] }}</td>
        </tr>
        <tr>
            <td>created_at</td>
            <td>{{ url[2] }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <h2 class="my-5">Проверки</h2>
        <form method="post" action="/url/{{ url[0] }}/checks">
            <input type="hidden">
            <button type="submit" class="btn btn-primary">Проверить</button>
        </form>
    </div>
    <div>
        <table class="table table-hover table-bordered table-responsive my-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for check in url_checks %}
                <tr>
                    <td>{{ check[1] }}</td>
                    <td>{{ check[2] }}</td>
                    <td>{{ check[3] }}</td>
                    <td>{{ check[4] }}</td>
                    <td>{{ check[5] }}</td>
                    <td>{{ check[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}